node_modules/
.idea/
.DS_Store
.nyc_output
yarn-error.log
lib/
test/
.coverall.yml
.eslintignore
.eslintrc
.gitignore
.travis.yaml
CONTRIBUTING.md
LICENSE
PULL_REQUEST_TEMPLATED.md
README.md
tsconfig.json
yarn.lock
yarn-error.log